<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="BusSettings" type="BusSettings.BusSettings, R.MessageBus.Settings" />
    </configSections>
    <BusSettings xmlns="BusSettings">
        <Settings>
            <RabbitMq EndPoint="TestPubSubEndPoint" Host="localhost">
                <Queue Name="TestPubSub"></Queue>
                <Exchange Name="TestExchange"></Exchange>               
            </RabbitMq>
        </Settings>
    </BusSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
